@import url("/home/jl/.mozilla/firefox/fajx820a.default-release-1585756652866/chrome/autohide_toolbox.css");
@import url("/home/jl/.mozilla/firefox/fajx820a.default-release-1585756652866/chrome/compact_urlbar_megabar.css");

/* Global UI font */
 * {
	/* font-size: auto !important;
	 font-weight: normal !important;
	 */
	 font-family: Noto Sans Nerd Font !important;
	 /* font-color: #70AAEC !important; */
}
